#python {
  display: none;
}

#javaScript {
  display: none;
}

#swift {
  display: none;
}

#cSharp {
  display: none;
}

img {
  width: 125px;
  height: auto;
  padding-right: 10px;
  padding-bottom: 10px;
}

.jumbotron {
  margin-top: 10px;
  background-color: black;
  color: greenyellow;
}

.jumbotron h1 {
  font-family: 'Courier New', Courier, monospace;
}

.my-4 {
  background-color: ghostwhite;
}